hal_client_domain(system_app, hal_mlipay)

#Thermals stuff
allow system_app sysfs_thermal:file write;

allow system_app persist_camera_prop:file { getattr open read };
allow system_app storaged:binder call;
allow system_app wificond:binder call;
allow system_app vendor_default_prop:file read;

get_prop(system_app, persist_camera_prop)
